{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block content %}
<h1>{{user.first_name}}'s Flask App example</h1>
<h2>{{ self.title() }}</h2>
<br>
<div class="container">
  <div class="d-grid gap-2">
    <label class="btn btn-lg btn-outline-primary" for="myResume">My Resume</label>
    <input type="radio" class="btn-check" name="btnradio" id="myResume" autocomplete="off" onclick="window.location.href = '/resume'">
  </div>
  <div class="d-grid gap-2">
    <label class="btn btn-lg btn-outline-primary" for="projects">My Projects</label>
    <input type="radio" class="btn-check" name="btnradio" id="projects" autocomplete="off" onclick="window.location.href = '/projects'">
  </div>
</div>
{% endblock content %}